{% extends 'base.html' %}

{% block title %}Список городов{% endblock %}
{% block content %}
<center>
    <h3>Список городов</h3>
</center>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название города</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for object in page_obj %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{% url 'cities:detail' pk=object.pk %}">{{ object.name }}</a></td>
      <td align="right">
          <a href="{% url 'cities:edit' pk=object.pk %}">
              <button type="button" class="btn btn-success">Редактировать</button>
          </a>
      </td>
      <td align="right">
          <a href="{% url 'cities:delete' pk=object.pk %}">
              <button type="button" class="btn btn-danger">Удалить</button>
          </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    
    {% for page in page_obj.paginator.page_range %}
        <li class="page-item {% if page == page_obj.number %} active {% endif %}">
            <a class="page-link" href="?page={{page}}">{{page}}</a>
        </li>
    {% endfor %}
      
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
<!--<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}

    </span>
</div> -->
{% endblock %}